.android-highlighted {
    color: #00ec80;
}

.bg-android {
    background-color: #00ec80;
}

.border-android {
    border-color: #00ec80;
}

.bg-sf {
    background-color: #ff6600;
}

.p-accordion-header-text {
    width: 100%;
}